.mini_cont .mini_box {width:100%;}
.mini_box .text .num {font-size:30px;}

/*cf 현황 조회 페이지*/
.first_chart_box {width:49%; height:43%;}
.second_chart_box {width:49%; height:43%;}
.third_chart_box {width:32%; height:43%;}
.fourth_chart_box {width:32%; height:43%;}
.fifth_chart_box {width:32%; height:43%;}

/*20230911 cf 페이지 연도 선택 css */
.mini_box.select_year {align-items:flex-start;}

.year_select_cf {position:absolute; bottom:20px; left:20px; width: 80%; height: 30px; border-radius: 4px; border: 2px solid #0075ff;
  cursor: pointer; display:flex;}
.year_select_cf:after {
  content: '';
  display: block; 
  width: 2px;
  height: 100%; 
  position: absolute; 
  top: 0; 
  right: 25px;
  background: #0075ff;
}
.year_select_cf .label {
  display: flex;
  align-items: center;
  background: transparent;
  cursor: pointer;
  font-size:16px;
  width:100%;
  justify-content:space-between;
}

.year_select_cf .optionList {
  position: absolute; 
  top: 26px;
  left: 0;
  width: 100%;
  background: #0075ff;
  color: #fff;
  list-style-type: none;
  padding: 0;
  border-radius:0 0 4px 4px;
  overflow: hidden;
  max-height: 0;
  transition: .3s ease-in;
}

.year_select_cf.active .optionList {
  max-height: 500px;
}

.year_select_cf .optionItem {
  border-bottom: 1px dashed #fff;
  padding: 5px;
  transition: .1s;
  line-height:20px;
  font-size:16px;
}

.year_select_cf .optionItem:hover {
  background: #004fad;
}

.year_select_cf .optionItem:last-child {
  border-bottom: 0 none;
}

.year_select_cf .fa-chevron-down {margin-right:-1px;}

/*스크롤 커스텀*/
.year_select_cf .optionList::-webkit-scrollbar {width: 6px;}
.year_select_cf .optionList::-webkit-scrollbar-track {background: transparent; }
.year_select_cf .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
.year_select_cf .optionList::-webkit-scrollbar-thumb:hover {background: #303030;}